$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-attachment: fixed;
}

.hideOnStart {
  display: none;
}

.hideOnStartTwo {
  display: none;
}

// nav {
//   text-align: center;
// }
nav {
  // display: inline block
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: 'Farsan', cursive;
  font-size: 20px;
  text-align: center;
}

input {
  border: 2px solid lightgray;
  border-radius: 4px;
}

.signedIn {
  font-size: 35px;
}

.authText {
  display: none;
  font-size: 35px;
}

.winStatement {
  display: none;
  font-size: 35px;
}

.drawStatement {
  display: none;
  font-size: 35px;
}

.getText {
  display: none;
  font-size: 35px;
}

.container {
  display: none;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  overflow: hidden;
  width: 300px;
}

.inner {
  background: lightgray;
  border-radius: 1px;
  display: inline-block;
  font-size: 45px;
  height: 74px;
  margin: 6px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  width: 74px;
}

.init {
  display: none;
  text-align: center;
}

.getGamesDiv {
  display: none;
  text-align: center;
}

footer {
  text-align: right;
}
